/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$border-width: 5px;
$instructions-font-size: 25pt;
$console-font-size: 30pt;
$min-width-for-extra-padding: 1000px;
$lightening-to-show-spaces: rgba(255, 255, 255, 0.2);
$label-height: 30px;

.debugger {
  position: absolute;
  left: 3%;
  top: 3%;
  bottom: 3%;
  right: 3%;
  background-color: #777;
  padding: 10px;
  z-index: 5;
  visibility: visible; // to counter parent's visibility:hidden

  a.close-button {
    float: right;
    font-size: 25pt;
    line-height: 0;
    text-decoration: none;
    color: black;
  }

  h1.solution {
    margin: 0;
    margin-right: 330px;
    margin-top: 3px;
    float: right;
    color: white;
  }

  .exercise-buttons {
    width: 185px;
    margin: 0 auto;
    margin-top: 10px;

    .do-another {
      font-size: 12pt;
      height: 40px;
      margin-right: 10px;
    }
    .next {
      font-size: 12pt;
      height: 40px;
      margin-right: 10px;
    }
  }

  .instructions-buttons {
    button {
      padding: 12px 20px;
      font-size: 12pt;
      margin: 0;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .instructions-with-label, .variables-with-label, .console-with-label {
    float: left;
    height: 350px;
  }
  .instructions, .variables-scroller, .console {
    float: left;
    height: 350px - $label-height;
  }
  &.showInstructions.showConsole {
    .instructions-with-label { width: 49%; margin-right: 1%; }
    .console-with-label { width: 50%; }
  }
  &.showInstructions.showConsole.showVariables,
  &.showInstructions.showConsole.showHeap {
    .instructions-with-label { width: 49%; margin-right: 1%; }
    .variables-with-label { width: 50%; height: 260px; }
    .console-with-label { width: 50%; height: 90px; }
    .variables-scroller { height: 260px - $label-height; }
    .console { height: 90px - $label-height; }
  }

  label {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #333;
    display: block;
    padding-left: 10px;
    font-size: 20pt;
    height: $label-height;
  }

  .partial-calls {
    table {
      border-collapse: collapse;
    }
    tr {
      background-color: black;
      &.executing {
        background-color: #0f0;
        td {
          color: black;
        }
      }
      &.no-calls {
        height: 10px;
      }
    }
    th {
      text-align: left;
      font-size: 10pt;
      text-transform: uppercase;
      color: #000;
      background-color: #333;
      padding: 0 10px;
      &.extra-space {
        width: 100%;
        padding: 0;
      }
      white-space: nowrap;
    }
    td {
      text-align: left;
      padding: 0 10px;
      color: #0f0;
      font-size: 20pt;
      &.unfilled {
        height: 30px;
      }
      &.extra-space {
        width: 100%;
      }
      .main {
        color: #040;
      }
      .string-interpolation {
        color: #040;
        font-size: 10pt;
      }
    }
  }

  .variables-with-label {
    background-color: black;
  }

  .variables-scroller {
    width: 100%;
    overflow: scroll;
  }

  .variables {
    color: #0f0;
    font-size: 20pt;
    padding-left: 15px;
    border-collapse: collapse;
    width: 100%;

    tr {
      vertical-align: top;
      &.method {
        background-color: #040;
        color: black;
        font-size: 16pt;
        border-top: 10px black solid;
        .code {
          font-family: monospace;
        }
      }
    }
    th {
      font-weight: normal;
      padding-bottom: 2px;
      padding-right: 15px;
      text-align: left;
      &.future {
        color: #080;
      }
    }
    td {
      padding-right: 15px;
      &.future {
        color: #080;
      }
      &.name {
        padding-left: 10px;
      }
    }
  }

  .vars-and-heap {
    width: 320px;
    margin-bottom: 10px;
    float: left;
    position: relative;

    .black-background {
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: black;
      z-index: -1;
    }
    .scroller {
      width: inherit;
      height: inherit;
      overflow: scroll;
      position: relative;
      white-space: nowrap; // so heap won't wrap to next line

      .gray-background {
        position: absolute;
        width: inherit;
        height: 52px;
        background-color: #333;
        z-index: -1;
      }
      button.heap-toggle {
        position: absolute;
        top: 0;
        right: 0px;
      }
    }

    .just-vars {
      background-color: #777;
      padding-right: 10px;
      margin-right: -10px;
      display: inline-block;
      vertical-align: top;
    }
    .just-heap {
      background-color: #777;
      padding-left: 10px;
      margin-left: -10px;
      display: inline-block;
      vertical-align: top;
    }
    table {
      border-collapse: collapse;
    }
    tr {
      vertical-align: top;
      &.method {
        border-top: 10px black solid;
        td {
          background-color: #040;
          color: black;
          font-size: 16pt;
        }
        .code {
          font-family: monospace;
        }
      }
    }
    th {
      background-color: #333;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      padding-right: 5px;
      &.bigger {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20pt;
      }
    }
    td {
      color: #0f0;
      font-size: 20pt;
      background-color: black;
      padding-right: 5px;
    }
    .left {
      padding-left: 5px;
    }
    .between {
      width: 10px;
      height: 100%;
      background-color: #777;
      display: inline-block;
      vertical-align: top;
    }
  }

  // recursive arrays can cause object-ids to show on vars screen
  .variables td .object-id,
  .vars-and-heap td .object-id {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12pt;
    background-color: #0f0;
    color: black;
    vertical-align: top;
    margin-top: 5px;
  }

  button.heap-toggle {
    font-size: 14pt;
    float: right;
    margin-top: 2px;
    padding: 1px 6px;
  }

  .instructions {
    position: relative;
    width: 100%;
    color: #0f0;
    font-size: $instructions-font-size;
    font-family: monospace;
    background-color: black;

    .blank {
      height: 200px;
    }

    .pointer {
      position: absolute;
      top: 120px;
    }

    .content {
      width: 100%;
      overflow: scroll;
      height: inherit;

      .num {
        float: left;
        width: 60px;
        overflow: hidden;
        color: #060;
        text-align: right;
        clear: left;
      }
      .code {
        margin-left: 80px;
        white-space: pre;

        span.highlight {
          background-color: #0f0;
          color: black;
        }
      }
    }
  }

  .console {
    width: 100%;
    background-color: black;
    border: 2px #222 solid;
    border-bottom: 2px #444 solid;
    color: #0f0;
    font-size: $console-font-size;
    overflow: scroll;
    font-family: monospace;
    word-wrap: break-word;

    .before-cursor {
      margin: 0;
      white-space: pre;
      background-color: #040;
      span.stdin {
        color: #ff0;
        background-color: #440;
      }
      span.stderr {
        color: #f00;
        background-color: #400;
      }
    }
    input.stdin {
      background-color: black;
      height: $console-font-size * 1.2;
      color: #ff0;
      font-size: $console-font-size;
      font-family: monospace;
    }
    .stdin-reminder {
      font-size: 16pt;
      font-family: serif;
      background-color: yellow;
      color: black;
      padding: 10px;
    }
    .cursor {
      background-color: #0f0;
      width: $console-font-size * 0.5;
      height: $console-font-size * 0.9;
      margin-left: 2px;
      display: inline-block;
      line-height: 0;
    }
  } // end .console

  .value {
    display: inline-block; // so ... is directly after

    &.string {
      font-family: monospace;
      white-space: pre-wrap;
      display: inline; // so its width doesn't expand
      white-space: pre;
      .line {
        line-height: 0.6;
        &.last {
          display: inline-block; // so type label is directly after
        }
        span {
          background-color: $lightening-to-show-spaces;
          line-height: 1.0;
        }
        .empty-line { // a little sliver of background color
          width: 4px;
          height: 28px;
          display: inline-block;
          background-color: $lightening-to-show-spaces;
        }
      }
    }
    table.array {
      display: inline-block;
      border-collapse: collapse;

      td {
        border: 1px #040 solid;
        padding-right: 2px;

        .index {
          font-size: 10pt;
          display: inline-block;
          vertical-align: top;
          padding-left: 1px;
          padding-right: 2px;
          color: #040;
        }
      }
    }
    .type {
      display: inline-block;
      font-family: sans-serif;
      font-size: 12pt;
      color: #040;
      padding-left: 2px;
    }
  }
} // end .debugger

.debugger-parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden; // so it doesn't block clicks
}
