$code-font-size: 30pt;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;

  .video-script {
    position: absolute;
    top: 600px;
    height: 600px;
    white-space: pre;
    width: 100%;
    font-size: 24pt;
    line-height: 1.5;
    overflow: scroll;
  }
}

@-webkit-keyframes slide {
  from { transform: translateX(0%) }
  to { transform: translateX(200%) }
}

.ExerciseComponent {
  width: 840px;

  &.purple { background-color: #709; }
  &.yellow { background-color: #a94; }
  &.blue   { background-color: #55a; }
  &.red    { background-color: #600; }
  &.green  { background-color: #484; }
  &.orange { background-color: #a60; }

  &.purple { .CodeMirror-linenumbers { background-color: #709; } }
  &.yellow { .CodeMirror-linenumbers { background-color: #a94; } }
  &.blue   { .CodeMirror-linenumbers { background-color: #55a; } }
  &.red    { .CodeMirror-linenumbers { background-color: #600; } }
  &.green  { .CodeMirror-linenumbers { background-color: #484; } }
  &.orange { .CodeMirror-linenumbers { background-color: #a60; } }

  .throbber {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: white;
    margin-left: -100%;
    height: 2px;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slide;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }

  .title {
    color: white;
    letter-spacing: 3px;
    padding-left: 60px;
    width: 840px;

    &.purple { background-color: #305; }
    &.yellow { background-color: #873; }
    &.blue   { background-color: #004; }
    &.red    { background-color: #400; }
    &.green  { background-color: #050; }
    &.orange { background-color: #640; }

    a.logo-link {
      display: block;
      text-decoration: none;
      width: 142px;
      height: 18px;
      background-image: url('/images/basic_ruby_white_x2.png');
      background-repeat: no-repeat;
      margin-right: 10px;
      float: left;
    }
  }

  .banner {
    font-size: 44pt;
    margin: 0;
    padding-top: 5px;
    padding-left: 65px;
    color: white;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    text-shadow: 1px 1px gray;
    height: 80px;

    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 0px 10px;

    /* Hide because it looks too much a clickable play button:
      &.purple { background-image:
      url('/images/exercise_icons/play-button-purple-60.png'); } */
    &.yellow { background-image: url('/images/exercise_icons/light_bulb_60.png'); }
    &.blue   { background-image: url('/images/exercise_icons/question_mark_60.png'); }
    &.red    { background-image: url('/images/exercise_icons/red_bug_60.png'); }
    &.green  { background-image: url('/images/exercise_icons/pen-and-paper-60.png'); }
    &.orange { background-image: url('/images/exercise_icons/jack-o-lantern-60.png'); }
    &.red    { font-size: 32pt; padding-top: 20px; }
    &.green  { font-size: 31pt; padding-top: 20px; }
  }

  .buttons-above {
    float: right;
    margin-right: 10px;
    margin-top: 25px;
    button {
      font-size: 12pt;
      padding: 0 8px;
      height: 40px;
      margin-right: 10px;
      &.do-another {
        padding: 0;
        width: 131px;
      }
      &.next {
        /* weird tweak to make buttons line up */
        position: relative;
        top: 1.5px;
      }
      &.show-solution {
        background-image: url('/images/exercise_icons/light_bulb_60.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        padding-left: 30px;
        background-position: 6px 8px;
      }
    }
  }

  textarea.code, .CodeMirror {
    background-color: #ddd;
    font-family: monospace;
  }

  .col-1-of-2 {
    width:550px;
    height:400px;
    float: left;

    textarea.code, .CodeMirror {
      width: 100%;
      height: 100%;
      font-size: $code-font-size;

      .CodeMirror-linenumbers {
        width: 25px;
        padding-right: 18px;
      }
      .CodeMirror-linenumber {
        color: black;
        opacity: 0.25;
      }
    }
  }
  .col-2-of-2 {
    width: 250px;
    height: 450px;
    margin-left: 570px;

    .little-video-container {
      position: relative;
    }
    .little-video-play-button {
      background-image: url('/images/play-button-overlay.png');
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 140px;
    }

    .actual {
      overflow: scroll;
      height: 160px;
    }
    .expected {
      overflow: scroll;
      height: 160px;
      margin-bottom: 10px;
    }
    table {
      border-collapse: collapse;
      width: 250px;
      height: 135px + 25px; // label height

      &.expected {
        margin-bottom: 10px;
      }

      tr {
        vertical-align: top;
      }
      th {
        background-color: gray;
        text-transform: uppercase;
        font-size: 12pt;
        color: white;
        padding: 5px 0 0 2px;
        font-weight: bold;
        text-align: left;
        height: 25px;
        .passed { color: #0f0; }
        .failed { color: #f77; font-weight: normal; }
      }
      td {
        background-color: white;
        font-family: monospace;
        font-size: 15pt;
        white-space: pre;
        word-wrap: break-word;
        border-bottom: 1px black solid;
        padding: 0;
        &.hidden {
          background-image: url('/images/black-curtains.jpg');
          background-size: cover;
          .click-run {
            padding-top: 50px;
            font-size: 15pt;
            padding-left: 140px;
            padding-right: 10px;
            font-family: serif;
            font-style: italic;
            color: white;
            text-align: center;
            line-height: 1;
          }
        }
        span.stdin {
          background-color: yellow;
        }
        //span.stdout, span.stderr {
        //  display: inline-block; // so text-indent is supported
        //  word-wrap: normal;
        //  white-space: normal;
        //  text-indent: -10px;
        //  margin-left: 10px;
        //}
        span.stderr {
          color: red;
        }
        textarea.expected {
          height: 60px;
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 15pt;
          font-family: monospace;
          &.length1 { // if there's only one test case
            height: 100%;
          }
        }
        .CodeMirror-linenumbers { background-color: #ccc; }
        .CodeMirror-linenumber { color: black; opacity: 0.2; }
        .passed { color: #070; }
        .failed { color: #f00; }
      } // end td
    } // end table
  }

  label {
    display: block;
    width: 100%;
    height: 25px;
    background-color: gray;
    font-size: 12pt;
    text-transform: uppercase;
    color: white;
    padding: 5px;
    padding-right: 0;
    font-weight: bold;

    &.code {
      width: 489px;
      margin-left: 61px;
    }
    .equals {
      color: #0f0;
    }
    .not-equals {
      color: #f00;
    }
  }

  .buttons-under {
    margin-top: 10px;
    display: inline-block;
  }
  .buttons-under button {
    font-size: 20pt;
    width: 120px;
    height: 80px;
    margin: 0;
    float: left;
    &.run {
      margin-left: 10px;
    }
  }
}

.popup {
  position: absolute;
  top: 150px;
  height: 250px;
  left: 130px;
  width: 400px;
  border: 10px green solid;
  padding: 10px 20px;
  z-index: 5;

  &.passed {
    background-color: #2a0;
    border: 10px green solid;
  }
  &.failed {
    background-color: #f77;
    border: 10px #f44 solid;
  }

  h1 {
    margin: 0;
    color: white;
  }
  p {
    margin: 0;
    margin-top: 10px;
    color: white;
    font-size: 14pt;
  }
  a.close-button {
    float: right;
    font-size: 25pt;
    text-decoration: none;
    color: black;
    line-height: 0.5;
    margin-right: -10px;
  }
  button {
    width: 100%;
    height: 50px;
    font-size: 20pt;
    margin-top: 20px;
  }
}
