$code-font-size: 20pt;
$label-height: 25px;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@-webkit-keyframes slide {
  from { transform: translateX(0%) }
  to { transform: translateX(200%) }
}

.ExerciseComponent {
  width: 100%;

  &.purple, &.purple .CodeMirror-linenumbers,
    &.purple .col-1-of-2 .code-header .indent { background-color: #709; }
  &.yellow, &.yellow .CodeMirror-linenumbers,
    &.yellow .col-1-of-2 .code-header .indent { background-color: #a94; }
  &.blue, &.blue .CodeMirror-linenumbers,
    &.blue .col-1-of-2 .code-header .indent { background-color: #55a; }
  &.red, &.red .CodeMirror-linenumbers,
    &.red .col-1-of-2 .code-header .indent { background-color: #600; }
  &.green, &.green .CodeMirror-linenumbers,
    &.green .col-1-of-2 .code-header .indent { background-color: #484; }
  &.orange, &.orange .CodeMirror-linenumbers,
    &.orange .col-1-of-2 .code-header .indent { background-color: #a60; }

  &.has-video {
    .col-1-of-2, .col-2-of-2, .video-script {
      display: none;
    }
  }
  &.has-video-script {
    padding-top: 30px;
    margin-top: 100px;
    width: 854px;
    height: 480px;

    .title, .banner { display: none; }
    .video-script {
      position: absolute;
      top: 600px;
      height: 600px;
      white-space: pre;
      width: 100%;
      font-size: 24pt;
      line-height: 1.5;
      overflow: scroll;
    }
  }

  .title {
    color: white;
    letter-spacing: 3px;
    padding-left: 60px;
    width: 100%;

    a.logo-link {
      display: block;
      text-decoration: none;
      width: 142px;
      height: 18px;
      background-image: url('../images/basic_ruby_white_x2.png');
      background-repeat: no-repeat;
      margin-right: 10px;
      float: left;
    }
  }
  &.purple .title { background-color: #305; }
  &.yellow .title { background-color: #873; }
  &.blue   .title { background-color: #004; }
  &.red    .title { background-color: #400; }
  &.green  .title { background-color: #050; }
  &.orange .title { background-color: #640; }

  .banner {
    font-size: 44pt;
    margin: 0;
    padding-top: 5px;
    padding-left: 65px;
    color: white;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    text-shadow: 1px 1px gray;
    height: 80px;

    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 0px 10px;

    /* Hide because it looks too much a clickable play button:
      &.purple { background-image:
      url('../images/exercise_icons/play-button-purple-60.png'); } */
    &.yellow { background-image: url('../images/exercise_icons/light_bulb_60.png'); }
    &.blue   { background-image: url('../images/exercise_icons/question_mark_60.png'); }
    &.red    { background-image: url('../images/exercise_icons/red_bug_60.png'); }
    &.green  { background-image: url('../images/exercise_icons/pen-and-paper-60.png'); }
    &.orange { background-image: url('../images/exercise_icons/jack-o-lantern-60.png'); }
    &.red    { font-size: 32pt; padding-top: 20px; }
    &.green  { font-size: 31pt; padding-top: 20px; }
  }

  .buttons-above {
    float: right;
    margin-right: 10px;
    margin-top: 25px;

    button {
      font-size: 12pt;
      padding: 0 8px;
      height: 40px;
      margin-right: 10px;

      &.do-another {
        float: left;
      }
      &.next {
        float: left;
      }
      &.show-solution {
        background-image: url('../images/exercise_icons/light_bulb_60.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        padding-left: 30px;
        background-position: 6px 8px;
      }
    }
  }

  textarea.code, .CodeMirror {
    background-color: #ddd;
    font-family: monospace;
  }

  .col-1-of-2 {
    width: 66%;
    height: 400px;
    float: left;

    .wrapper {
      width: 100%;
      height: 96%;
//      display: table;

      .code-header {
        display: table-row;
        .indent {
          width: 60px;
          height: $label-height;
          float: left;
          margin-right: 5px;
        }
      }
//      .code-wrapper {
//        display: table-row;
//        width: 100%;
//        height: 50%;
//      }
//      .code-wrapper2 {
//        display: table-cell;
//        position: relative;
//        width: 100%;
//        height: 100%;
//      }
//      .code-wrapper3 {
//        position: absolute;
//        left: 0;
//        top: 0;
//        right: 0;
//        bottom: 0;
//      }
      textarea.code, .CodeMirror {
        width: 100%;
        height: 100%;
        font-size: $code-font-size;

        .CodeMirror-linenumbers {
          width: 25px;
          padding-right: 18px;
        }
        .CodeMirror-linenumber {
          color: black;
          opacity: 0.25;
        }
      }
    }
    .margin {
      height: 4%;
    }
  }
  .col-2-of-2 {
    width: 30%;
    height: 500px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;

    .expected {
      overflow: scroll;
      height: 35%;
    }
    .margin {
      height: 4%;
    }
    .actual {
      overflow: scroll;
      height: 35%;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      height: 100%;

      &.expected {
        margin-bottom: 10px;
      }

      tr {
        vertical-align: top;
      }
      th {
        background-color: gray;
        text-transform: uppercase;
        font-size: 12pt;
        color: white;
        padding: 5px 0 0 2px;
        font-weight: bold;
        text-align: left;
        height: 25px;
        .passed { color: #0f0; }
        .failed { color: #f77; font-weight: normal; }
      }
      td {
        background-color: white;
        font-family: monospace;
        font-size: 15pt;
        white-space: pre;
        word-wrap: break-word;
        border-bottom: 1px black solid;
        padding: 0;

        &.hidden {
          background-image: url('../images/black-curtains.jpg');
          background-size: cover;
          position: relative;

          .click-run {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 48%; // same width as the run button
            font-size: 15pt;
            font-family: serif;
            font-style: italic;
            color: white;
            text-align: center;
            line-height: 1;
          }
        }
        span.stdin {
          background-color: yellow;
        }
        //span.stdout, span.stderr {
        //  display: inline-block; // so text-indent is supported
        //  word-wrap: normal;
        //  white-space: normal;
        //  text-indent: -10px;
        //  margin-left: 10px;
        //}
        span.stderr {
          color: red;
          white-space: normal;
        }
        textarea.expected {
          height: 60px;
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 15pt;
          font-family: monospace;
          &.length1 { // if there's only one test case
            height: 100%;
          }
        }
        .CodeMirror-linenumbers { background-color: #ccc; }
        .CodeMirror-linenumber { color: black; opacity: 0.2; }
        .passed { color: #070; }
        .failed { color: #f00; }
      } // end td
    } // end table
  }

  label {
    display: block;
    width: 100%;
    height: $label-height;
    background-color: gray;
    font-size: 12pt;
    text-transform: uppercase;
    color: white;
    padding: 5px;
    padding-right: 0;
    font-weight: bold;

    .equals {
      color: #0f0;
    }
    .not-equals {
      color: #f00;
    }
  }

  .buttons-under {
    width: 100%;
    height: 18%;
  }
  .buttons-under button {
    font-size: 20pt;
    width: 48%;
    height: 100%;
    margin: 0;
    float: left;
    &.run {
      margin-left: 4%;
    }
  }
}

.popup {
  position: absolute;
  top: 150px;
  height: 250px;
  left: 150px;
  right: 150px;
  border: 10px green solid;
  padding: 10px 20px;
  z-index: 5;

  &.passed {
    background-color: #2a0;
    border: 10px green solid;
  }
  &.failed {
    background-color: #f77;
    border: 10px #f44 solid;
  }

  h1 {
    margin: 0;
    color: white;
  }
  p {
    margin: 0;
    margin-top: 10px;
    color: white;
    font-size: 14pt;
  }
  a.close-button {
    float: right;
    font-size: 25pt;
    text-decoration: none;
    color: black;
    line-height: 0.5;
    margin-right: -10px;
  }
  button {
    width: 100%;
    height: 50px;
    font-size: 20pt;
    margin-top: 20px;
  }
}

.highlighted {
  background-color: yellow;
}

table.trace {
  background-color: white;
  font-size: 20pt;
  line-height: 120%;
  border-collapse: collapse;

  th {
    text-align: left;
  }
  th.description, td.description {
    padding-right: 20px;
  }
  td.hover {
    background-color: yellow;
  }
  .output .char {
    font-family: monospace;
    border: 1px black solid;
  }
}
.value {
  position: relative;
  font-family: sans-serif;
  line-height: 10pt;

  .type {
    font-size: 9pt;
    position: absolute;
    top: 0;
  }
  .number {
    display: inline-block;
    border: 1px black solid;
    min-width: 40px;
    text-align: right;
    padding-right: 4px;
    font-size: 18pt;
    position: relative;
    bottom: -5px;
    line-height: 14pt;
  }
  .empty {
    display: inline-block;
    border: 1px black solid;
    min-width: 40px;
    height: 19px;
    position: relative;
    bottom: -5px;
  }
  .char {
    font-family: monospace;
    border: 1px black solid;
    font-size: 12pt;
    position: relative;
    bottom: -2px;
    line-height: 12pt;
  }
}
