.MenuComponent {
  width: 960px;
  border: 1px;
  font-family: sans-serif;
  margin: 0 auto;

  p {
    font-size: 20pt;
    width: 800px;
    line-height: 42pt;
    margin: 40px auto;
    font-family: serif;
    text-align: justify;
  }

  h1.basic-ruby {
    font-size: 60pt;
    margin: 36px 0 0 0;
    background-image: url("/images/basic_ruby_green_x7.png");
    background-repeat: no-repeat;
    width: 518px;
    height: 63px;
    text-indent: -9999px;
    float: left;
  }

  .learn-programming {
    font-size: 30pt;

    background-image: url("/images/daily_easy_x3.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 57px;

    text-indent: -9999px;
    margin-top: 38px;
    float: right;
  }

  .video {
    width: 950px;
    height: 500px;
    border: 1px black solid;
    margin: 40px 0;
  }

  .main-menu-link {
    font-size: 40pt;
    margin-top: 10px;
    float: right;
    border-bottom: 4px #4b8ece solid;
    background-image: url("/images/main_menu8.png");
    background-repeat: no-repeat;
    width: 688px;
    height: 56px;
    text-transform: uppercase;
    text-indent: -9999px;
  }

  .nav-pills li {
    font-size: 18pt;
    font-family: 'Roboto';
    font-weight: 100;
    padding: 0 15px;
  }

  a.done-indicator {
    display: inline-block;
    width: 120px;
    height: 48px;
    font-size: 50pt;
    text-decoration: none;
    line-height: 48px;
    position: relative;

    &:hover {
      color: white;
    }
    .num-completions {
      position: absolute;
      width: 100%;
      font-size: 30pt;
      top: 4px;
    }
  }
  td {
    text-align: center;
    vertical-align: center;
    width: 100px;
    padding-bottom: 20px;
  }
  th {
    color: #fff;
    font-weight: bold;
    width: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0 1px #aaa, 1px 0 #aaa;

    &.title {
      color: black;
      font-size: 20pt;
      font-weight: bold;
      width: 360px;
      text-align: right;
      padding-right: 30px;
      text-shadow: none;
    }
    h2 {
      text-align: left;
      padding: 0;
      margin: 0;
    }
  }
  td.purple, th.purple {
    background-color:#cae;
    a.done-indicator {
      color: #508;
    }
  }
  td.yellow, th.yellow {
    background-color:#ee9;
    a.done-indicator {
      color: #cb0;
    }
  }
  td.blue, th.blue {
    background-color:#acf;
    a.done-indicator {
      color: #44f;
    }
  }
  td.red, th.red {
    background-color:#fcc;
    a.done-indicator {
      color: #f44;
    }
  }
  td.green, th.green {
    background-color:#afa;
    a.done-indicator {
      color: #0a0;
    }
  }
  td.orange, th.orange {
    background-color:#fd8;
    a.done-indicator {
      color: #e70;
    }
  }
  td a.done-indicator:hover {
    color: #fff;
  }
}
