.node {
  width: 102px;
}
.node-input {
  fill: #fcc;
  stroke-width: 4;
  stroke: red;
}
.node-syntax {
  fill: black;
  cursor: text;
  stroke-width: 0;
}
.node-syntax-text {
  fill: white;
  font-family: monospace;
  font-size: 30pt;
  cursor: text;
  text-anchor: middle;
  alignment-baseline: central;
}
.draggable {
  cursor: move;
}
.tip-handle:hover {
  fill: yellow;
}
