/*
 *= require_tree .
 *= require ../../../../vendor/assets/stylesheets/codemirror
 *= require_directory ../../../../vendor/assets/stylesheets/tutor
 *= require_self
 */

#basic-ruby-popup {
  position: absolute;
  right: 0;
  top: 0;
  width: 260px;
  height: 130px;
  border: 5px black solid;
  padding: 20px;
  opacity: 0.8;
  background-color: #0b0;
  color: black;
  line-height: 2;
  z-index: 3;
}

#basic-ruby-popup a.close {
  float: right;
  text-decoration: none;
  color: black;
  height: 100%;
  display:block;
  width: 30px;
  text-align: right;
  height:100%;
}
